src/DCS.Core/Connected Services/PassengerService/PassengerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Sita.Bagdrop.Assignment.Dcs" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Sita.Bagdrop.Assignment.Dcs" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Sita.Bagdrop.Assignment.Dcs/Imports">
      <xsd:import schemaLocation="http://sitabagdropassignmentdcs.azurewebsites.net/PassengerService.svc?xsd=xsd0" namespace="Sita.Bagdrop.Assignment.Dcs" />
      <xsd:import schemaLocation="http://sitabagdropassignmentdcs.azurewebsites.net/PassengerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://sitabagdropassignmentdcs.azurewebsites.net/PassengerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sita.Bagdrop.Assignment.Dcs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPassengerService_FindPassenger_InputMessage">
    <wsdl:part name="parameters" element="tns:FindPassenger" />
  </wsdl:message>
  <wsdl:message name="IPassengerService_FindPassenger_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindPassengerResponse" />
  </wsdl:message>
  <wsdl:message name="IPassengerService_CheckIn_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckIn" />
  </wsdl:message>
  <wsdl:message name="IPassengerService_CheckIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckInResponse" />
  </wsdl:message>
  <wsdl:portType name="IPassengerService">
    <wsdl:operation name="FindPassenger">
      <wsdl:input wsaw:Action="Sita.Bagdrop.Assignment.Dcs/IPassengerService/FindPassenger" message="tns:IPassengerService_FindPassenger_InputMessage" />
      <wsdl:output wsaw:Action="Sita.Bagdrop.Assignment.Dcs/IPassengerService/FindPassengerResponse" message="tns:IPassengerService_FindPassenger_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckIn">
      <wsdl:input wsaw:Action="Sita.Bagdrop.Assignment.Dcs/IPassengerService/CheckIn" message="tns:IPassengerService_CheckIn_InputMessage" />
      <wsdl:output wsaw:Action="Sita.Bagdrop.Assignment.Dcs/IPassengerService/CheckInResponse" message="tns:IPassengerService_CheckIn_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>